.page-header{
    .control-t{
        position:relative;
        top:0.6em;
    }
}

.row {
    display:block;
    margin: 2% 0 0;
}

.big-card{
    .subtitle{
        font-size: 4em;
        font-weight: 400;
    }
    .description{
        opacity: 0.8;
        text-align: center;
    }
    .icon{
        display:block;
        height:150px;
        opacity:0.75;
    }
}
