<div class="content-wrapper">
    <p>{{ 'demo.greeting' | translate:{'name':'Juan Jo'} }}</p><br/>

    <mat-card>
        Main Theme:
        <button mat-raised-button color="primary">
          Primary
        </button>
        <button mat-raised-button color="accent">
          Accent
        </button>
        <button mat-raised-button color="warn">
          Warning
        </button>
    </mat-card><br/>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Alertas</mat-card-title>
        </mat-card-header>
        <button mat-button color="accent" (click)="showInfo()">
            Show Info
        </button>
        <button mat-button color="primary" (click)="showSuccess()">
            Show Success
          </button>
        <button mat-button color="primary" (click)="showError()">
              Show Error
        </button>
    </mat-card>
</div>