<mat-nav-list class="nav-list">
    <a mat-list-item routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon mat-list-icon [matTooltip]="Home" matTooltipPosition="right">dashboard</mat-icon><span>Dashboard</span></a>
    <a mat-list-item routerLink="list-user" routerLinkActive="active">
        <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">search</mat-icon><span>Consulta</span></a>
    <a mat-list-item routerLink="list-user" routerLinkActive="active">
        <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">widgets</mat-icon><span>Activos</span></a>
    <a mat-list-item routerLink="list-user" routerLinkActive="active">
        <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">assignment</mat-icon><span>Evaluación</span></a>
    <a mat-list-item routerLink="list-user" routerLinkActive="active">
        <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">trending_up</mat-icon><span>Indicadores</span></a>
    <a mat-list-item routerLink="list-user" routerLinkActive="active">
        <mat-icon mat-list-icon [matTooltip]="Users" matTooltipPosition="right">announcement</mat-icon><span>Noticias</span></a>

</mat-nav-list>