<div id="app_container" class="nav-container">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="navmenu.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="app-name">Alfatec Test</h1>
            <span class="spacer"></span>
            <mat-icon>favorite</mat-icon>
            <mat-icon>delete</mat-icon>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #navmenu mode="side" opened>
            <app-navmenu></app-navmenu>
        </mat-drawer>

        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>

    </mat-drawer-container>
</div>