<div id="app_container" class="nav-container">

    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <button mat-icon-button (click)="sidebar.toggle()"><mat-icon>menu</mat-icon></button>
            <h1 class="app-name">Alfatec Test</h1>
            <span class="spacer"></span>
            <div class="right-buttons">
                <a (click)="useLanguage('es')">{{ 'app.spanish' | translate }}</a>
                <mat-icon>more_vert</mat-icon>
                <a (click)="useLanguage('en')">{{ 'app.english' | translate }}</a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-drawer-container class="drawer-container" autosize>
        <mat-drawer #sidebar mode="side" opened>
            <app-sidebar></app-sidebar>
        </mat-drawer>

        <mat-drawer-content>
            <router-outlet></router-outlet>
        </mat-drawer-content>

    </mat-drawer-container>
</div>