<app-page-header icon="info" text='{{ "routing.about-us" | translate }}'></app-page-header>
<div class="content-wrapper">
  <h4>Welcome to Weather APP</h4>
        <p>This application template provides a quick weather widget developed in Angular 7</p>
        <br/>
        <h5>Technologies</h5>
        <ul>
            <li>Template pages with <a href="https://angular.io" target="_blank" rel="nofollow">Angular5</a> and <a href="https://www.typescriptlang.org" target="_blank" rel="nofollow">TypeScript</a></li>
            <li>Authentication using basic authorization</li>
            <li><a href="https://cli.angular.io" target="_blank" rel="nofollow">Angular CLI</a> version to be used with any server backend technology</li>
            <li>Theming using <a href="https://material.angular.io" target="_blank" rel="nofollow">Angular Material 2</a></li>
            <li>Data get from <a href="https://openweathermap.org" target="_blank" rel="nofollow">Openweathermap </a></li>
        </ul>
</div>