.simple-card{
    text-align: center;
    .title{
        font-weight: 400;
    }
    .subtitle{
        margin-top: 0.15em;
    }
    .icon{
        display: block;
        height:135px;
        margin: 15px 0;
    }
}