// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "assets/theme/lime-brown.scss";
@import "assets/theme/blue-gray-pink.scss";
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content-wrapper {
    padding: 30px 40px;
}