// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "styles/themes/lime-brown.scss";
@import "styles/themes/indigo-blue.scss";
@import 'styles/toastr.scss';
// Basics
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    transition: color 0.25s;
}

// layout
.page-header {
    margin: 1em;
    .mat-icon {
        display: inline-block;
        font-size: 36px;
        height: 36px;
        vertical-align: middle;
        width: 36px;
    }
    h3 {
        display: inline-block;
        font-size: 1.25em;
        margin: 0 0 0 8px;
        padding: 0;
        vertical-align: middle;
        span {
            font-size: 1em;
            font-weight: 100;
        }
    }
}

.content-wrapper {
    padding: 0 40px 30px;
}

// Form
// Resets
g[class^='raphael-group-'][class$='-creditgroup'] text {
    fill: white !important;
}