// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "styles/themes/lime-brown.scss";
@import "styles/themes/lime-brown.scss";
@import 'styles/toastr.scss';
// Basics
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    transition: color 0.25s;
}

.content-wrapper {
    padding: 0 40px 30px;
}

// Form
// Resets
g[class^='raphael-group-'][class$='-creditgroup'] text {
    fill: white !important;
}